body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.intro, .mision {
    margin-bottom: 40px;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #555;
    line-height: 1.6;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.grid-item {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(50% - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    border-radius: 50%;
}

.grid-item h3 {
    margin: 10px 0 5px 0;
}

.grid-item p {
    color: #666;
}

@media (max-width: 768px) {
    .grid-item {
        width: calc(100% - 40px);
    }
}

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(254, 255, 255);
    text-align: center;
    padding: 15px;
}
